<head></head>
    <h1>G00418395</h1>
</head>
<body>
    <ul>
        <li><a href="/students">Students</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/lecturers">Lecturers</a></li>
    </ul>
</body> 